doctype html
html(lang='ja')
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    block title
      title Not yet be named.
    block style
      link(rel='stylesheet', href='/assets/css/core.css')
  body
    block content
    block script
      script(type='text/javascript', src='/assets/js/core.js')
