extends ./layouts/common.jade

block title
  title Hello, Koa.
  
block content
  .main(id="app")

    h2 新規登録
    form(id="newRegistration")
      label メールアドレス
      input.input-mail(type="email" name="mail")
      input.button-submit(type="submit" value="送信" id="sendPreregistration")
        
    h2 ログイン
    form(id="login")
      label メールアドレス
      input.input-mail(type="email" name="mail")
      label パスワード
      input.input-password(type="password" name="password")
      input.button-submit(type="submit" value="送信" id="sendLoginData")
