.header
  width 100%
  height 50px
  line-height 50px
  border-bottom 1px solid #ccc
  .header-inner
    width 760px
    margin 0 auto
  .navi
    & > li
      float left
      margin-right 20px
      &:last-child
        margin-right 0
